<script type="text/javascript">
  var tt_cancel_destination = "/clinic";  //users"
</script>

<form action="/user/search_user" method="POST">
  <%= text_field 'user',
    'username',
    :textCase =>"lower",
    :ajaxURL => '/user/username?all_roles=1&username=',
    :helpText => 'Select username' %>
</form>
