<script>
    tt_cancel_destination = "/?active_tab=tab2";
</script>

<style>
    #Unknown {
        display: none;
    }
</style>
<form action="/reports/list_appointments" method='post'>

<%
  monthString = []
  monthString << "January"
  monthString << "February"
  monthString << "March"
  monthString << "April"
  monthString << "May"
  monthString << "June"
  monthString << "July"
  monthString << "August"
  monthString << "September"
  monthString << "October"
  monthString << "November"
  monthString << "December"
%>

<%
  yearString = []
  # set minimum and maximum year for select options.
  min = 2008
  today = session[:datetime].to_date rescue Date.today
  max = today.strftime("%Y").to_i

  # Populate year array with values from min to max plus 2.
  (min..(max + 2)).each{|yr| yearString << yr}

%>

<select id="year" name="year" helpText="Select Year" tt_pageStyleClass="NoKeyboard NoInput small">
  <option></option>
  <% yearString.reverse.each do |y| %>
    <option><%= y %></option>
  <% end %>
</select>

<select id="month" name="month" helpText="Select Month" tt_pageStyleClass="NoKeyboard NoInput small">
  <option></option>
  <% monthString.each do |m| %>
    <option><%= m %></option>
  <% end %>
</select>

<!--select id="selMonth" name="selMonth" helpText="Select Month:">
      <option></option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>

< %= (touch_select_tag "year", '', options_for_select(yearString),{
    :id => "year",
    :helpText => "Select Year",
    :tt_pageStyleClass => "NoKeyboard NoInput small"  }).html_safe %>

< %= (touch_select_tag "month", '', options_for_select(optionsString),
        {:id => "month",
         :helpText => "Select Month",
         :tt_pageStyleClass => "NoKeyboard NoInput small"  }).html_safe %-->
</form>
